useDynLib(hisse, .registration = TRUE, .fixes = "C_")

export(hisse, hisse.null4, MarginRecon, SupportRegion, TransMatMaker, ParDrop, ParEqual, BisseToHisse, plot.hisse.states, SimulateHisse, SimToPhylo)
import(ape, deSolve, GenSA, subplex, nloptr)
importFrom(data.table, data.table, setkey)
importFrom(parallel, mclapply)
importFrom(phytools, plot.contMap, nodeHeights, fastAnc, anc.ML)
importFrom("grDevices", "colorRampPalette", "nclass.Sturges", "rainbow")
importFrom("graphics", "hist", "par", "plot", "rect", "segments", "text")
importFrom("methods", "hasArg")
importFrom("stats", "dbeta", "density", "quantile", "reorder", "rexp", "runif", "weighted.mean")

exportClasses('hisse.fit', 'hisse.null4.fit', 'hisse.states', 'hisse.support')
S3method(print, hisse.fit)
S3method(print, hisse.null4.fit)
S3method(print, hisse.states)
S3method(print, hisse.support)
S3method(plot, hisse.states)